Repository SumoLogic/sumologic-otel-collector-containers, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, docker, github_actions

chore(ci): add dockerhub promotion
  Makefile
Labels: none

ci: use paths compatible with download-artifact@v5
  .github/workflows/build-and-push.yml
  .github/workflows/workflow-build-container-image.yml
Labels: github_actions

ci: fix name
  .github/workflows/workflow-build-container-image.yml
Labels: github_actions

ci: use paths compatible with download-artifact@v5
  .github/workflows/build-and-push.yml
  .github/workflows/workflow-build-container-image.yml
Labels: github_actions

test
  .github/workflows/workflow-build-container-image.yml
Labels: github_actions

test
  .github/workflows/build-and-push.yml
Labels: github_actions

ci: ensure artifact is regular file
  .github/workflows/workflow-build-container-image.yml
Labels: github_actions

ci: don't download dockerbuild artifacts
  .github/workflows/releases.yml
Labels: github_actions

ci: skip ecr login for pull requests
  .github/workflows/workflow-build-container-image.yml
Labels: github_actions

ci: fix artifact uploads and release promotion (#5)
  .github/workflows/build-and-push.yml
  .github/workflows/releases.yml
  .github/workflows/workflow-build-container-image.yml
Labels: github_actions

ci: add write contents perm to releases
  .github/workflows/releases.yml
Labels: github_actions

rollback support
  .github/workflows/promote-test.yml
  .github/workflows/rollback-release-candidate.yml
  .github/workflows/rollback-stable.yml
  .github/workflows/rollback-test.yml
  .github/workflows/workflow-promote.yml
  .github/workflows/workflow-rollback.yml
  Makefile
Labels: github_actions

limit GITHUB_TOKEN perms
  .github/workflows/promote-test.yml
  .github/workflows/workflow-rollback.yml
Labels: github_actions

Rollback support (#6)
  .github/workflows/promote-test.yml
  .github/workflows/rollback-release-candidate.yml
  .github/workflows/rollback-stable.yml
  .github/workflows/rollback-test.yml
  .github/workflows/workflow-promote.yml
  .github/workflows/workflow-rollback.yml
  Makefile
Labels: github_actions

fix target & var name in Makefile
  Makefile
Labels: none

rename testing-a to test
  .github/workflows/rollback-test.yml
  .github/workflows/workflow-rollback.yml
  Makefile
Labels: github_actions

add promote-dh-image-ci-to-test target
  Makefile
Labels: none

add no-op for tag creation in DH test repo
  Makefile
Labels: none

only rollback images with non-empty repo
  .github/workflows/workflow-rollback.yml
Labels: github_actions

add rollback documentation
  .github/workflows/workflow-rollback.yml
  docs/rollback.md
Labels: documentation, github_actions

add rollback gh release to docs
  docs/rollback.md
Labels: documentation

simplify rollback steps
  docs/rollback.md
Labels: documentation

Rollback fixes and documentation (#9)
  .github/workflows/rollback-test.yml
  .github/workflows/workflow-rollback.yml
  Makefile
  docs/rollback.md
Labels: documentation, github_actions

adding workflow call in release
  .github/workflows/release-candidates.yml
  .github/workflows/releases.yml
Labels: github_actions

adding workflow call in release (#12)
  .github/workflows/release-candidates.yml
  .github/workflows/releases.yml
Labels: github_actions

ci: adding repo checkout for remote workflow trigger
  .github/workflows/releases.yml
  .github/workflows/workflow-determine-run-info.yml
Labels: github_actions

fxed the sha
  .github/workflows/workflow-determine-run-info.yml
Labels: github_actions

ci: adding repo checkout for remote workflow trigger (#16)
  .github/workflows/releases.yml
  .github/workflows/workflow-determine-run-info.yml
Labels: github_actions

testing the rc
  .github/workflows/release-candidates.yml
  .github/workflows/workflow-promote.yml
Labels: github_actions

ci: adding repo context for publishing release
  .github/workflows/releases.yml
Labels: github_actions

ci: adding repo context for publishing release (#17)
  .github/workflows/releases.yml
Labels: github_actions

feat(SUMO-278372): Update workflow to bundle otelconfig artifact
  .github/actions/setup-collector-artifact/action.yaml
  .github/workflows/workflow-build-container-image.yml
Labels: github_actions

feat(SUMO-278372): fix the new actions
  .github/actions/setup-collector-artifact/action.yaml
Labels: github_actions

feat(SUMO-278372): fix the new actions
  .github/actions/setup-collector-artifact/action.yaml
Labels: github_actions

feat(SUMO-278372): add action for otelcol-config
  .github/workflows/workflow-build-container-image.yml
Labels: github_actions

feat(SUMO-278372): fix otelcol-config-action
  .github/workflows/workflow-build-container-image.yml
Labels: github_actions

feat(SUMO-278372): exclude windows os
  .github/workflows/workflow-build-container-image.yml
Labels: github_actions

feat(SUMO-278372): update docker file for new config
  dockerfiles/ubi/Dockerfile
Labels: none

feat(SUMO-278372): config artifact debug
  .github/workflows/workflow-build-container-image.yml
Labels: github_actions

feat(SUMO-278372): update bake for debugging
  docker-bake.hcl
Labels: none

.github/labeler.yml:

# Add 'documentation' label to any change to *.md files
documentation:
  - any: ["**/*.md"]

# Add 'docker' label to any change in docker related files
docker:
  - any: ["**/Dockerfile*", "**/.dockerignore", "**/*bake*.hcl"]

# Add 'github_actions' label to any change .github/ directory
github_actions:
  - any: [".github/**"]
